channels
python-dotenv
daphne
geoip2
psycopg2-binary
channels-redis
Django>=2.1.3
black
djangorestframework>=3.9.0
djangorestframework-gis
django-environ
django-leaflet
django-filter
django-cors-headers
python-dotenv
Pillow
requests
faker

